@font-face {
    font-family: 'Gotham Pro';
    src: url('mr8wt8t7.html') format('woff2'),
        url('b79b3b2l.html') format('woff'),
        url('qaav9m95.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('fecl05h5.woff2') format('woff2'),
        url('6ud29_rj.html') format('woff'),
        url('kzskejx3.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('n_ea8_ui.woff2') format('woff2'),
        url('c0rrfe3x.html') format('woff'),
        url('rtu-lp_f.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('elb8xrdp.woff2') format('woff2'),
        url('41pmuwm5.html') format('woff'),
        url('i6shb75m.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}





